@import url(https://www.google.com/fonts#UsePlace:use/Collection:Ubuntu);

$brand-first-med: #72ce78;
$brand-first-light: lighten($brand-first-med, 10%);
$brand-first-dark: darken($brand-first-med, 10%);

$brand-sec-med: #f56961;
$brand-sec-light: lighten($brand-sec-med, 10%);
$brand-sec-dark: darken($brand-sec-med, 10%);

$content-bg: #f1f1f1;

$bootstrap-sass-asset-helper: false !default;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;

$brand-primary: $brand-first-med;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$body-bg: #c1c1c1 !default;

$text-color: $gray-dark !default;

$link-color: $brand-sec-med !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-family-titles: "Ubuntu", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif: "Ubuntu", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 15px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default;
$font-size-small: ceil(($font-size-base * 0.85)) !default;

$font-size-h1: floor(($font-size-base * 2.6)) !default;
$font-size-h2: floor(($font-size-base * 2.15)) !default;
$font-size-h3: ceil(($font-size-base * 1.5)) !default;
$font-size-h4: ceil(($font-size-base * 1.25)) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default;

$line-height-base: 1.428571429 !default;
$line-height-computed: floor(($font-size-base * $line-height-base)) !default;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

$btn-font-weight: normal !default;

$btn-default-color: $brand-sec-med !default;
$btn-default-bg: #fff !default;
$btn-default-border: $brand-sec-med !default;

$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-sec-med !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color: #fff !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-info-color: #fff !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-warning-color: #fff !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: #fff !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color: $gray-light !default;

$input-group-addon-bg: #5cb85c !default;
$input-group-addon-border-color: #4CAE4C;
