<div class="quotes-list">
  <div class="quotes-container">
    <ul class="quote-page quotes-inner-container">

      <li ng-class="($index % 2 == 0) ? 'quote-left' : 'quote-right'"
          ng-repeat="i in getNumber(number) track by $index">
        <div class="quote-wrapper">
          <div class="quote-content">
            Message
          </div>
          <div class="quote-description">
            <div class="avatar img-circle">
              <img alt="Brett" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <div class="quote-author">
              <p>
                <strong>Brett</strong>
                <small class="text-muted">25 minutes ago</small>
              </p>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
